{% extends "base.html" %}
{% block title %}
    View Available Counsellors
{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls(2) }}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block fluidContent %}
    <div class="row new-title">
        <div class="col-12">
            <div class="container">
                <div class="d-flex align-items-center mb-4">
                    <span class="material-icons me-3" style="font-size: 60px">settings_ethernet</span>
                    <div>
                        <h1 class="display-6">Connect</h1>
                        <h6 class="m-0">Connect with a volunteer counsellor</h6>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <p>Talk and connect to one of our volunteers today.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        {% for user in userList %}
            <div class="col-md-6">
                <div class="card white">
                    <div class="card-body">
                        <h5 class="card-title">{{ userList[user].name }}</h5>
                        <div class="row">
                            <div class="col-md-6">
                                {{ infoBox.infoBox("Available Time", "Not set") }}
                            </div>
                            <div class="col-md-6">
                                {{ infoBox.infoBox("Experience", userList[user].hours|string + " hours") }}
                            </div>
                        </div>
                        <a href="{{ url_for("home") }}"><button class="btn custom-btn">Connect</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}