{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls(1) }}
{% endblock %}
{% block fluidContent %}
    <div class="row align-items-center main-splash">
        <div class="col-12">
            <div class="container">
                <div class="row align-items-center my-5">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='img/stress.png') }}" class="w-100">
                    </div>
                    <div class="col-md-8">
                        <h1 class="display-6">Tired? Stressed? Or just want someone to talk to?</h1>
                        <h2 class="h5 mb-4">Connect with our volunteer counsellors today.</h2>
                        <a href="{{ url_for("connect.viewConnect") }}"><button class="btn custom-btn">Connect Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row my-3 mx-auto">
        <div class="card white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h1 class="display-6">Be in control of your mental health</h1>
                        <h2 class="h5 mb-4">Check out resources on our website to learn more about managing your mental
                            health</h2>
                        <a href="{{ url_for("blogs.viewBlogs") }}"><button class="btn custom-btn">Learn More</button></a>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='img/question.png') }}" class="w-100"
                             style="height: 250px; object-fit: contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="card white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h1 class="display-6">Help someone today. Make a difference.</h1>
                        <h2 class="h5 mb-4">Want to make a difference, take care of yourself and others while increasing your
                            value?</h2>
                        <a href="{{ url_for("epas.viewEpas") }}"><button class="btn custom-btn">Become a Volunteer</button></a>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='img/communication.png') }}" class="w-100"
                             style="height: 250px; object-fit: contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}