{% extends "base.html" %}
{% block title %}
    Feedback Form
{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls() }}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block content %}
<form action="#" method="POST">
    <p>How did you find your experience with SafeChameleon228?</p>
    <label for="wtfNumber">Rate 1-5</label>
    <input type="number" id="q1" name="q1" min="1" max="5" required>
    <br><br>

    <p>How likely are you to recommend SafeChameleon228 to another user?</p>
    <label for="wtfNumber">Rate 1-5</label>
    <input type="number" id="q2" name="q2" min="1" max="5" required>
    <br><br>

    <p>Please provide feedback regarding your experience with SafeChameleon228</p>
    <div class="d-flex align-items-center">
        {{ formHelper.renderField(form.experience_details) }}
    </div>

    <p>Any comments on the EasyAid platform?</p>
    <div class="d-flex align-items-center">
        {{ formHelper.renderField(form.comments) }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}